<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <p>{{attention}}</p>
    <form action="postdata" method="post">
        <p>User_name:</p>
        <input name="username" required>
        <p>Password:</p>
        <input name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <input type="submit" value="Send">
    </form>
    <form action="register">
        <input type="submit" value="register">
    </form>
</body>
</html>