<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
  <p>Registration</p>
  <form class="register_form" action="registration" method="post">
        <p class="label">User_name:</p>
        <input class="input_area" name="username" required>
        <p class="label">Password:</p>
        <input class="input_area" id="password_enter" name="password"
               required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <p class="label">repeat password:</p>
        <input class="input_area" id="password_confirm" name="password_repeat"
               required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
      <p class="attention">{{attention}}</p>
        <input class="send_button" type="submit" value="Send">
    </form>
</body>
</html>