<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <p>Name: {{username}}</p>
    <p>Salary: {{salary}}</p>
    <p>Next_up_date: {{next_up_date}}</p>
    <form action="updateInfo" method="post">
        <p>Enter your data to update this information</p>
        <p>Salary</p>
        <input type="number" name="salary">
        <p>Next_up_date</p>
        <input type="date" name="next_up_date">
        <input type="submit" value="Send">
    </form>
    <form action="logout">
        <input type="submit" value="logout">
    </form>
</body>
</html>